---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/PageLayout.astro";

const albums = await getCollection("albums");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Gallery</h1>
  <section class="gallery-grid">
    {
      albums.map((item) => (
        <a href={`/gallery/${item.id}`}>
          <Image
            src={item.data.cover}
            alt={item.data.title}
            format="avif"
            width={720}
            quality="mid"
            inferSize
          />
          <div>
            <strong>{item.data.title}</strong>
          </div>
        </a>
      ))
    }
  </section>
</Layout>

<style>
  .gallery-grid {
    display: grid;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
