---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/PageLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.createDate.valueOf() - b.data.createDate.valueOf()
);
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage="https://picsum.photos/720/360"
>
  <main>
    <section>
      <ul>
        {
          posts
            .filter((post) => post.data.published)
            .map((post) => (
              <li>
                <FormattedDate date={post.data.createDate} />
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </li>
            ))
        }
      </ul>
    </section>
  </main>
</Layout>
