---
import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/DefaultPageLayout.astro";
import {
  getImagesForPhotoAsset,
  getPhotoAssets,
} from "../../utils/get-photo-assets";

export async function getStaticPaths() {
  const photoAssets = await getPhotoAssets();

  const paths = Object.values(photoAssets).map((p) => {
    return {
      params: {
        id: p.id,
      },
      props: {
        photoAsset: p,
      },
    };
  });

  return paths;
}

const { photoAsset } = Astro.props;
const images = await getImagesForPhotoAsset(photoAsset.id);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <h1>
      {photoAsset.data.title}
    </h1>
    <p>
      {photoAsset.data.description}
    </p>

    <div>
      {
        images.map((image) => (
          <Image
            src={image}
            alt={`Image from ${photoAsset.data.title} album`}
            quality={50}
            loading="lazy"
          />
        ))
      }
    </div>

    <p>
      <a href="/photos/">&larr; Go back</a>
    </p>
  </section>
</Layout>
