---
import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../constants";
import Layout from "../../layouts/DefaultPageLayout.astro";
import { getPhotoAssets } from "../../utils/get-photo-assets";

const photoAssets = await getPhotoAssets();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Gallery</h1>
  <section class="photo-grid">
    {
      photoAssets
        .sort((a, b) => {
          if (a.data.created > b.data.created) return -1;
          if (a.data.created < b.data.created) return 1;
          return 0;
        })
        .map((pa) => (
          <a href={`/photos/${pa.id}`}>
            <Image
              src={pa.data.cover}
              alt={pa.data.title}
              format="avif"
              width={720}
              quality="mid"
            />
            <div>
              <strong>{pa.data.title}</strong>
            </div>
          </a>
        ))
    }
  </section>
</Layout>

<style>
  .photo-grid {
    display: grid;
    gap: 1rem;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
