---
import Layout from "../../layouts/PageLayout.astro";

import { readdir } from "node:fs/promises";
import { join } from "node:path";
import { RANDOM_IMAGE } from "../../consts";

type WalkFn = (dirPath: string) => Promise<[] | unknown[] | string[]>;

const walk: WalkFn = async (dirPath: string) =>
  Promise.all(
    await readdir(dirPath, { withFileTypes: true }).then((entries) =>
      entries.map((entry) => {
        const childPath = join(dirPath, entry.name);
        return entry.isDirectory() ? walk(childPath) : childPath;
      })
    )
  );

type Sketch = {
  href: string;
  title: string;
};

const response: [] | unknown[] | string[] = await walk("src/pages/sketch-book");

const sketches: Sketch[] = response[0][0].map((file: string) => {
  const fileWithoutExtension = file.split(".")[0];
  const [_src, _pages, sketchBook, year, month, day] =
    fileWithoutExtension.split("/");

  return {
    href: `${sketchBook}/${year}/${month}/${day}`,
    title: `${year}-${month}-${day}`,
  };
});
---

<Layout
  title="Sketch Book"
  description="A place for code experiments"
  heroImage={RANDOM_IMAGE}
>
  <h2>This is just a place where I play around with web based code</h2>
  <p>
    Following is what I hope will be a complete list of the things I do. But
    probably not.
  </p>
  <ol>
    {
      sketches.map((sketch) => (
        <li>
          <a href={sketch.href}>{sketch.title}</a>
        </li>
      ))
    }
  </ol>
</Layout>
