---
import { getTitleFromSlug } from "../lib/getTitleFromSlug";
import { kebabToTitle } from "../lib/kebabToTitle";
import type { CategoryData, Note } from "../utils/get-seeds";

const { name, data, level = 0 } = Astro.props;
const categoryIsNotRoot = name !== "_root";
const hasNotes = data.notes.length > 0;
const title = getTitleFromSlug(name);
---

<div>
    {categoryIsNotRoot && <p>{title}</p>}

    {
        hasNotes ? (
            <div>
                {data.notes.map((note: Note) => (
                    <h3>
                        <a href={`/notes/${note.slug}`}>
                            {kebabToTitle(getTitleFromSlug(note.slug))}
                        </a>
                    </h3>
                ))}
            </div>
        ) : (
            "This section has no notes. Something has gone wrong..."
        )
    }

    {
        Object.entries(data.subcategories as [string, CategoryData]).map(
            ([subName, subData]: [string, string | CategoryData]) => (
                <Astro.self name={subName} data={subData} level={level + 1} />
            ),
        )
    }
</div>
